$def with (sensor,scores,folds)

<h1> Solution for $sensor.GetRecognition()</h1>
$sensor

<h2>Sensor Gain</h2>
<img src="/solution_images/$(sensor.GetRecognition())/$(sensor)_gain.png">

<h2>Structures formed</h2>
$for i in range(1, len(folds) + 1):
    <a href="/solution_images/$sensor.GetRecognition()/$(sensor))_$(i).png">
    <img src="/solution_images/$sensor.GetRecognition()/$(sensor)_$(i)_t.png"></a>

<h2>Structure types</h2>
<ul>
<li>Binding -- Signal ON: $"{:.0%}".format(scores["binding_on"]["percent"])</li>
<li>Nonbinding -- Signal OFF: $"{:.0%}".format(scores["nonbinding_off"]["percent"])</li>
<li>Binding -- Signal Unknown: $"{:.0%}".format(scores["binding_unknown"]["percent"])</li>
<li>Nonbinding-- Signal Unknown: $"{:.0%}".format(scores["nonbinding_unknown"]["percent"])</li>
</ul>
<h2>Box Plot</h2>

<img src="/solution_images/$sensor.GetRecognition()/$(sensor).png">

